[build]
builder = "nixpacks"

[deploy]
startCommand = "java -cp target/classes:lib/* WebCalculator"
numReplicas = 1

[[services]]
name = "web"
run = "java -cp target/classes:lib/* WebCalculator"
port = 4567

[variables]
PORT = "4567"