[build]
builder = "nixpacks"

[deploy]
startCommand = "mvn compile exec:java -Dexec.mainClass=\"WebCalculator\""
numReplicas = 1

[[services]]
name = "web"
run = "mvn compile exec:java -Dexec.mainClass=\"WebCalculator\""
port = 4567

[variables]
PORT = "4567"