[build]
builder = "nixpacks"

[deploy]
startCommand = "mvn compile exec:java -Dexec.mainClass=\"WebCalculator\""
numReplicas = 1

[[services]]
name = "web"
run = "mvn compile exec:java -Dexec.mainClass=\"WebCalculator\""
port = 8080  # ← Cambiar de 4567 a 8080

[variables]
PORT = "8080"  # ← Cambiar de 4567 a 8080